.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      text-transform: capitalize;
      margin-bottom: 25px;
      cursor: pointer;
      border-bottom: solid 1px black;

      @media (max-width: 1024px) {
        margin-left: 15px;
      }

    }
  
    .preview {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;

    @media(max-width: 1024px) {
        grid-template-columns: repeat(3,1fr);
    }
    @media(max-width: 650px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media(max-width: 375px) {
        grid-template-columns: 1fr;
    }

    @media(max-width: 1024px) {
        padding: 15px;
      }
    }
  }